/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  background: #e7e7e7;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #ffffff;
  z-index: 99;
  transition: all 0.5s ease;
  
  
}
.sticky {
  position: -webkit-sticky;
  position: fixed;
  top:0;
}
.sidebar a.active{
  background: #5facca;
   color:white; 
 }


 .sidebar  a.active:after{
 content: '';
 position: absolute;
 right: -22px;
 transform: rotate(-180deg);
 top: 25%;
  transition: 0.3s;
 border: 12px solid transparent;
 border-right-color: #5fabca;
 }


.sidebar.open{
  width: 300px;
}
.logo{
  width:80%;
}
.sidebar .logo-details{
  height: 74px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: solid #e7e7e7 2px;
}
.sidebar .mobsbtn{
  display: none;
}
nav .mob-head-btn{
  display: none;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: auto;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar.open .head-logo{
  display: block;
  margin-left: 70px;
  margin-top: 20px;
}
 .head-logo{
  display:none;
}
.sidebar i{
  color: rgb(0, 0, 0);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
 
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li.active{
  background: #5facca;
   color:white; 
 }

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  color:black;
  align-items: center;
  text-decoration: none;

}


.sidebar li a .links_name{
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
  color:black;
}

.sidebar li.more{
  position: relative; 
  transition: all 0.5s ease;
  overflow: hidden;
  
  border-radius: 5px;
}
.more-close{
  background:rgb(223, 222, 222);
  margin: 10px;

}
.sidebar li:last-child {
  /* Make the last list item sticky and position it at the bottom of the sidebar */
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
}
.about{
  margin: 0px 45px 0px 45px;
  font-size: 14px;
  text-decoration: underline;
  color: #4b99b8;
}
.about{
  display: none;
}
.sidebar.open .about{
  display: block;
}

.tnc{
  margin-top: 100px;
}
.sidebar.open .more-btn{
  display: block;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    margin: 20px;
   
}
.grid{
  margin: 40px 0px 0px 0px;
}

.sidebar.open .more-btn:hover{
  background: rgb(215, 215, 215);

}
.sidebar .more-btn .grid{
  display:none;
}
.more-btn{
  display:none;
}
.sidebar.open .grid{
  display:none;
}
.sidebar.open .tnc{ 
  display: block;

}
.tnc{
  display: none;
}
.sidebar .more{
  position: fixed;
    bottom: 10px;
    transition: all 0.5s ease;
}
.header nav{
  background:white;
  border:none;
  margin:0;
}
.header
{
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.btn-group>.btn:first-child{    
  margin-left: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  background: white;
  padding-bottom: 10px;
  border-color: #e1dede;}
  .btn-group{
    margin-right: auto;
  }
  .head-regis-btn{
    background: #2a97d7;
   border-style: solid;
   border-radius: 6px;
   border-width: 1px;
   color: white;
   border-color: white;
   padding: 6px 30px 6px 30px;
 }
 .dropdown-menu{
  height:200px;
  overflow-y:auto;
  background-color: white;
}

.dropdown-item{
padding:10px;
color: black;
display: grid !important;

}
.dropdown-item:hover{
background: white;
text-decoration: none;
cursor: pointer;
}
.dropdown-menu a{
background-color: white;
}
.head-dropdown{
  margin-right:auto;
}
  .sidebar.open ~ .header
  {
    left: 300px;
    width: calc(100% - 300px);
  }

  .header.text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
  }
/* sidebar on hover css */
.sidebar a.active .bx{
  color:rgb(255, 255, 255);
  }
  .sidebar a:focus , .sidebar a:hover{                
    background: #5facca;
    color:white;
  }
  .sidebar a:focus .bx, .sidebar a:hover .bx{                
    color:white;
  }
.top-nav, .sub-nav{
  margin-top: 20px;
overflow: auto;
overflow-y: hidden;
  display: -webkit-box;
}
.top-nav li:active{
  background: white !important;

}
.sub-nav{
  background:#e2e2e2 !important;
  display: -webkit-inline-box;
  border-radius: 10px;
  
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: rgb(255, 255, 255) !important;
  cursor: default;
  background-color: #5fabca !important;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.sidebar.open li.profile{
  width: 300px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.cust-nav{
  display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border:none;
    border-radius: 0;
}

.navbar,.navbar-default, .nav{
  background-color: #ffffff;
  border-color: #ffffff;
}


 
.home-section{
  position: relative;
  background: #e7e7e7c4;
  min-height: 100vh;
  margin-top: -10px;    
  padding: 10px;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;

}
.sidebar.open ~ .home-section{
  left: 300px;
  width: calc(100% - 300px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}


.nav-tabs{
    font-size:16px;
}

.sub-menu-tabs {
    background-color: #e2e2e2;
    display: inline-block;
}

.tab-pane{
    margin: 40px 0px 0px 14px
}
.table-heading{
    font-size:18px;
    font-weight: 600;
    color:#5facca;
    font-family: Poppins;
}
/* custom swith */
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 2px;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .check-box-pos input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  input:checked + .slider {
    background-color: #ffffff;
  }
  .fa-camera{ margin: -150px 1px -150px 1px;
  }
     
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  } .switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 24px;
  }
  .slider.round {
    border-radius: 34px;
    border-radius: 27px;
    border-style: solid;
    border-width: 1px;
    border-color: #2196F3;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* custom swith close */

  /* sub table filter */
  .sub-table-filter{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
 .flx{
    font-size:16;
    font-family: poppins;
    flex-grow: 2;
 }
 .flx-allow{
  flex-grow:2;
 }
 #hours{
   
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    width: 100px;
 }
 
 /* checkbox*/
 .check-box-pos {
    display: inherit;
    position: relative;
    padding-left: 35px;
    font-size: 16px;
    font-weight: 400;
    
}
  
  /* Hide the browser's default checkbox */
  .check-box-pos input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   
    font-size: 22px;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
 
     border-radius:8px;
  }
  
  /* On mouse-over, add a grey background color */
 .check-box-pos:hover input ~ .checkmark {
    background-color: #ccc;
  }
   
  /* When the checkbox is checked, add a blue background */
   .check-box-pos input:checked ~ .checkmark {
    background-color: #2196F3;
  }
   
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-box-pos input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-box-pos .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
   
  }
 /* time picker */
 .tpicker{
    width: 200px;
    height: auto;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 2px 3px black;
    float: left;
    display: none;
    padding: 15px;
  }
  .pk1{
    float: left;
    width: 90%;
    margin: 0 5%;
  }
  .hr{
    text-align: center;
    width: 30%;
    float: left;
  }
 li a {
    color: #707070;
    text-decoration: none;
}
  .hr i{
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 23px;
  }
  .hr i:hover{
    cursor: pointer;
    color:red;
  }
  .hr a:hover{
    cursor: pointer;
    background-color: lightgrey;
  }
  .hr a{
    padding: 2px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  .pk1 .dot{
    width: 30%;
    float: left;
  }
  .pk1 .dot2{
    margin-top: 28px;
    width: 10%;
    text-align: center;
    float:left;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  .pk1 .dot button{
    width: 100%;
    margin-top: 22px;
  }
  .pk2{
    display: none;
  }
  .pk2 table{
    margin: 0px;
    padding: 0;
  }
  .pk2 table td{
    text-align: center;;
    border-radius: 2px;
    border:solid 0.5px lightgrey;
  }
  .pk2 table td:hover{
    background-color: lightgrey;
    cursor: pointer
  }
  /* inside table buttons */

  .btn-cancel {
    padding:15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 9px;
    border-width: 2px;
    border-color: red;
    color: red;
    border-style: solid;
    background: white;
    padding-right: 15px;
    padding-left: 15px;
 
}

.btn-edit {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 9px;
    border-width: 0px;
    border-color: white;
    background: #5facca;
    color: white;
    padding-right: 22px;
    padding-left: 22px;}
    .tab-btn{
        display:flex;
        gap: 20px;
    }

    /* table heading color */
    .thead-dark{background: rgb(234, 234, 228);}
    
    /*icon color*/
    .fa-info-circle{
        color: cornflowerblue;
    }
    /* table rows columns space*/
    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
        border: 1px solid #ddd;
        padding: 18px;}
  
  
  
    /* sidebar */
    * {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}


/* Style the tab content */
.tabcontent {
  padding: 20px;  
  border-left: none;
  margin: 20px;
  background:white;
  border-radius: 10px;
}
  /* on click on mobile hamburger this sidebar */
  .sidebarr {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidebarr a {
    display: block;
    background-color: inherit;
    color: black;
    padding: 15px 20px;
    width: 100%;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    margin-top: 5px;
    text-decoration: none;
}

  .sidebarr a.active{
    background: #5facca;
     color:white; 
   
   }
    .sidebarr a:focus , .sidebarr a:hover{                
     background: #5facca;
     color:white;
   }
   .sidebarr i a.active{
   color:white;

   }
   .sidebarr i {
    font-size: 16px;
    padding-right: 10px;
   }
   .sidebarr a.active:after{
   content: '';
   position: absolute;
   right: -20px;
   transform: rotate(-180deg);
   top: 25%;
    transition: 0.3s;
   border: 12px solid transparent;
   border-right-color: #5FABCA;
   }
   .sidebarr a.active .fas{
   color:white;
   }
    .sidebarr .closebtn {
      position: absolute;
      top: 0;
      right: 5px;
    }

/* mobile sidebar close */

@media only screen and (max-width: 992px) {  
  .head-btn{  
    display:none;
    }  
  }
    @media screen and (max-width: 630px) {  
     .sidebar .mobsbtn {  
         display:block;
         }   
         nav .mob-head-btn{
          display: block;
    font-size: 22px;
    color: black;
         }
       
       }
       @media screen and (max-width: 630px) {  
         .home-section {
           background: #e7e7e7c4;
           min-height: 100vh;
           margin-top: 0px;
           padding: 10px;
           left: 0px;
           width: 100%;
           transition: all 0.5s ease;
       }
       .header {
        position: relative;
        top: 0;
        left: 0px;
        width: 100%;
        transition: all 0.5s ease;
        z-index: 2;
    }
       
         .sidebar {  
            display:none;
            }   
          }

          @media (max-width: 420px) {
            .sidebar li .tooltip{
              display: none;
            }
          }
          @media screen and (min-width: 630px) {
            .sidebarr {
              left: -250px; /* Close the sidebar on screens above the breakpoint */
            }
          }
          
          